name: Run Java Program
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build-with-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Builder Docker image
        run: docker build -t java-docker-demo .
      - name: Run Docker container
        run: docker run java-docker-demo
